In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data = pd.read_csv("TSP_instances.csv", delimiter=",")
print(str(data.shape[0]) + " rows,", len(data.columns), "columns")
data.sample(5)

1244 rows, 30 columns

,instance_size,tenure,hood_size,selecetd_cities,selected_coordinates,initial_sol,improved_sol,initial_cost_km,improved_cost_km,improvement,...,std_dev_cluster_sizes,avg_cluster_density,avg_cluster_perimeter,avg_cluster_area,avg_cluster_complexity,eps_exec_time,dbscan_exec_time,nn_exec_time,tabu_exec_time,total_exec_time
87,53,9,25,"['Bjärred', 'Vaxholm', 'Lidingö', 'Karlstad', ...","{'Bjärred': (55.7167, 13.0167), 'Vaxholm': (59...","['Älta', 'Nacka', 'Boo', 'Kummelnäs', 'Stockho...","['Älta', 'Nacka', 'Kummelnäs', 'Boo', 'Stockho...",3630.798,3385.800,244.998,...,8.178563,9.114969,7.025388,2.861953,4.698490,0.000998,0.004987,0.000000,0.031915,0.036901
39,96,21,44,"['Trollhättan', 'Marieberg', 'Åstorp', 'Jönköp...","{'Trollhättan': (58.2828, 12.2892), 'Marieberg...","['Uddevalla', 'Trollhättan', 'Stenungsund', 'K...","['Arvika', 'Lysekil', 'Stenungsund', 'Kungälv'...",6445.650,6153.314,292.336,...,0.000000,4.551673,18.456311,19.113851,4.221539,0.001995,0.004020,0.000995,0.104723,0.108743
103,102,12,47,"['Kalmar', 'Helsingborg', 'Sollentuna', 'Staff...","{'Kalmar': (56.6614, 16.3628), 'Helsingborg': ...","['Borås', 'Mölnlycke', 'Öjersjö', 'Partille', ...","['Lysekil', 'Mölnlycke', 'Öjersjö', 'Partille'...",5913.128,5673.033,240.095,...,2.500000,6.132419,11.711267,7.578690,4.253150,0.000997,0.004987,0.000998,0.140623,0.145610
824,70,20,32,"['Kummelnäs', 'Vimmerby', 'Sundsvall', 'Vaxhol...","{'Kummelnäs': (59.35, 18.2833), 'Vimmerby': (5...","['Härnösand', 'Johannedal', 'Sundsvall', 'Gävl...","['Härnösand', 'Johannedal', 'Sundsvall', 'Gävl...",4831.568,4777.992,53.576,...,1.000000,5.494949,9.663536,5.752788,4.040973,0.000991,0.004975,0.000000,0.075772,0.080747
888,100,8,47,"['Mölnlycke', 'Halmstad', 'Södertälje', 'Lidin...","{'Mölnlycke': (57.6667, 12.1167), 'Halmstad': ...","['Jordbro', 'Vendelsö', 'Vega', 'Huddinge', 'T...","['Vega', 'Vendelsö', 'Jordbro', 'Huddinge', 'T...",5377.643,5126.103,251.540,...,19.000000,93.087870,5.966578,2.996924,6.316790,0.000998,0.007980,0.000997,0.173535,0.181514

In [10]:
print(str(data.shape[0]) + " rows,", len(data.columns), "columns")

1244 rows, 30 columns

In [11]:
# check if any none/null values
data.isna().sum()

instance_size                      0
tenure                             0
hood_size                          0
selecetd_cities                    0
selected_coordinates               0
initial_sol                        0
improved_sol                       0
initial_cost_km                    0
improved_cost_km                   0
improvement                        0
DBSCAN_min_sample                  0
DBSCAN_eps                         0
cluster_IDs                        0
cluster_sizes                      0
n_clusters                         0
n_noise_points                     0
avg_inter_cluster_distance_km    630
min_inter_cluster_distance_km    630
max_inter_cluster_distance_km    630
avg_silhouette                   630
std_dev_cluster_sizes              0
avg_cluster_density                0
avg_cluster_perimeter              0
avg_cluster_area                   0
avg_cluster_complexity             0
eps_exec_time                      0
dbscan_exec_time                   0
nn_exec_time                       0
tabu_exec_time                     0
total_exec_time                    0
dtype: int64

In [12]:
# Look at the information about the DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244 entries, 0 to 1243
Data columns (total 30 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   instance_size                  1244 non-null   int64
 1   tenure                         1244 non-null   int64
 2   hood_size                      1244 non-null   int64
 3   selecetd_cities                1244 non-null   object
 4   selected_coordinates           1244 non-null   object
 5   initial_sol                    1244 non-null   object
 6   improved_sol                   1244 non-null   object
 7   initial_cost_km                1244 non-null   float64
 8   improved_cost_km               1244 non-null   float64
 9   improvement                    1244 non-null   float64
 10  DBSCAN_min_sample              1244 non-null   int64
 11  DBSCAN_eps                     1244 non-null   float64
 12  cluster_IDs                    1244 non-null   object
 13  cluster_sizes                  1244 non-null   object
 14  n_clusters                     1244 non-null   int64
 15  n_noise_points                 1244 non-null   int64
 16  avg_inter_cluster_distance_km  614 non-null    float64
 17  min_inter_cluster_distance_km  614 non-null    float64
 18  max_inter_cluster_distance_km  614 non-null    float64
 19  avg_silhouette                 614 non-null    float64
 20  std_dev_cluster_sizes          1244 non-null   float64
 21  avg_cluster_density            1244 non-null   float64
 22  avg_cluster_perimeter          1244 non-null   float64
 23  avg_cluster_area               1244 non-null   float64
 24  avg_cluster_complexity         1244 non-null   float64
 25  eps_exec_time                  1244 non-null   float64
 26  dbscan_exec_time               1244 non-null   float64
 27  nn_exec_time                   1244 non-null   float64
 28  tabu_exec_time                 1244 non-null   float64
 29  total_exec_time                1244 non-null   float64
dtypes: float64(18), int64(6), object(6)
memory usage: 291.7+ KB

In [13]:
# Look at the information about each columns and its dataset
data.describe()

,instance_size,tenure,hood_size,initial_cost_km,improved_cost_km,improvement,DBSCAN_min_sample,DBSCAN_eps,n_clusters,n_noise_points,...,std_dev_cluster_sizes,avg_cluster_density,avg_cluster_perimeter,avg_cluster_area,avg_cluster_complexity,eps_exec_time,dbscan_exec_time,nn_exec_time,tabu_exec_time,total_exec_time
count,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000,1244.00000,1244.000000,1244.000000,1244.000000,1244.000000,...,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000,1244.000000
mean,61.590836,12.244373,25.871383,4805.420244,4500.661345,304.75890,3.999196,1.436650,1.651125,4.069936,...,6.841110,27.729037,13.862100,14.655744,4.891608,0.001374,0.004438,0.000454,0.059468,0.064031
std,31.254834,6.886139,14.457067,1382.567541,1330.838660,273.17136,0.028352,0.507777,0.777079,2.552256,...,14.107192,52.187256,6.471039,10.447379,1.355473,0.000860,0.003456,0.000522,0.057313,0.058036
min,10.000000,5.000000,5.000000,1414.449000,1264.111000,0.00000,3.000000,0.294888,1.000000,0.000000,...,0.000000,0.395448,0.790227,0.030929,3.791388,0.000000,0.001860,0.000000,0.002957,0.004985
25%,34.000000,6.000000,13.000000,3736.292000,3425.178500,122.79600,4.000000,1.118923,1.000000,2.000000,...,0.000000,2.520442,8.311458,4.738784,4.050490,0.000997,0.002992,0.000000,0.012968,0.018918
50%,61.000000,11.000000,25.000000,5026.824000,4711.810500,230.84800,4.000000,1.288548,1.000000,4.000000,...,0.000000,3.685901,12.955663,12.737721,4.235690,0.000998,0.003989,0.000000,0.039893,0.043882
75%,89.000000,17.000000,38.000000,6003.444000,5670.074000,392.73150,4.000000,1.701624,2.000000,5.000000,...,4.242641,14.618056,20.321004,25.211006,5.040888,0.001994,0.004987,0.000997,0.085804,0.090026
max,116.000000,30.000000,57.000000,7880.831000,7366.570000,2065.36300,4.000000,4.812873,5.000000,15.000000,...,52.500000,229.010891,30.006726,36.909738,10.266775,0.012966,0.096750,0.002992,0.325130,0.336100

In [14]:
duplicates = data[data.duplicated(keep=False)]

if duplicates.empty:
    print("No duplicates found.")
else:
    print("Duplicates found:", len(duplicates))
    data.drop_duplicates(keep="first", inplace=True)

No duplicates found.

In [18]:
# another way to check duplicates based on number of cities and the chosen cities

# Initial number of rows
initial_row_count = len(data)

# Sorting the cities in each list to normalize the order
data["cities_sorted"] = data["selecetd_cities"].apply(lambda x: tuple(sorted(x)))

# Grouping the DataFrame based on sorted cities and city_count
grouped = data.groupby(["cities_sorted", "instance_size"])


# For each group, keep the row with the maximum 'improvement'
def filter_rows(group):
    if len(group) > 1:
        return group[group["improvement"] == group["improvement"].max()]
    return group


# Apply the filtering function and reset index
filtered_df = grouped.apply(filter_rows).reset_index(drop=True)

# Drop the added column
filtered_df.drop(columns=["cities_sorted"], inplace=True)

# Calculate the number of rows dropped
rows_dropped = initial_row_count - len(filtered_df)
rows_remaining = len(filtered_df)

print(f"Original number of rows: {initial_row_count}")
print(f"Number of rows dropped: {rows_dropped}")
print(f"Number of rows remaining: {rows_remaining}")

Original number of rows: 1244
Number of rows dropped: 0
Number of rows remaining: 1244